{%- if col_size == "large" -%}
<div class="card-item col-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
{%- elsif col_size == "small" -%}
<div class="card-item col-6 col-xs-6 col-sm-3 col-md-5ths col-lg-5ths">
{%- else -%}
<div class="card-item col-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
{%- endif -%}
  {%- if person.redirect -%}
  <a href="{{ person.redirect }}">
  {%- else -%}
  <a href="{{ person.url | relative_url }}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
          {%- if person.img -%}
              {% include figure.html path=person.img %}
          {%- endif -%}
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card-body">
              <h6 class="card-title">{{ person.first }}<br/>{{ person.last }}</h6>
              <p class="card-text">{{ person.aff }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>